@import "variable";




* {
  font-family:'YouSheBiaoTiHei', "Helvetica Neue",-apple-system, BlinkMacSystemFont,  Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::selection {
    background: $--selection-color;
    color: $--font-color;
  }

  ::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
  }
}

body {

  margin: 0;
  padding: 0;
  background: #0e0e0e;
}

.content {
  padding: 2rem;
  text-align: left;
  background-color: rgb(43, 45, 48); /* 黑色半透明背景 */


}

/* 隐藏Layout.Sider (menu) 的按钮，自己实现  */
.ant-layout-sider-zero-width-trigger {
  display: none;
}

.ant-layout, .ant-layout-sider, .ant-layout-content, .ant-layout-header {
  background: #2b2d30;
}

.ant-layout-sider {
  .ant-layout-content, .ant-layout-header, .ant-layout-footer {
    background: white;
  }
}

.ant-layout-content {
  &:nth-child(odd) {
    background: #fdfdfd;
  }

  &:nth-child(even) {
    background: #f7f7f7;
  }
}

.ant-layout-footer {
  color: #babacc;
  background: #1e1f22;
}

.ant-menu {
  margin: 0;
  background: #2b2d30;

  border: none !important;
  text-align: left !important;
  padding: 1rem !important;

  a {
    color: $--color-gray;
  }

  .ant-menu-item {
    border-bottom: 2px dotted white;
    background: transparent !important;
    color: white !important;
    .ant-menu-item-selected {
      background: transparent !important;
      color: white !important;
    }
  }
}

.ant-drawer-body {
  padding: 0;
}

.ant-avatar {
  background: $--selection-color;
}

.color-title {
  color: white;
}

.color-content {

  color: #bbbdc2;
}
